@CHARSET "UTF-8";

#articleMain{
	background: white;
	margin: 0 120px;
	padding: 20px;
	
}
#articleTitle {
	padding: 15px 0 15px 0;
	color: rgb(0,205,205);
	font-size: 18pt;
	font-weight: bolder;
	
}

#articleWdate {
	padding: 5px 0 3px 0;
	text-align: right;
	color: #959595;	

}
#articleWdate b{
	font-size: 15pt;
	color: #959595;
	padding: 0 10px 0 0;
	font-weight: bolder;

}

#articleWriter {
	padding: 3px 0 15px 0;
	text-align: right;	
	font-weight: bold;
}

#articleContent {
	padding: 15px 0 15px 0;
	clear: both;
	border-top : 1px solid #c8c8c8;
	border-bottom : 1px solid #c8c8c8;
	padding-bottom: 80px; 
	text-align: left;
	line-height: 20pt;
}

#articleImage{
	margin: 10px;
	
}

img {
	width: 300px;
}

.view_btn{
	text-decoration: none;
	color: white;
	width: 70px;
}
.view_btn:VISITED{
	color: white;
}
.view_btn:HOVER{
	background: rgb(0,205,205);
}

#btn_wrapper{
	width: 100% ;
	text-align: center;
} 
.view_btn{
	padding: 5px 15px;
	margin-left: 10px;
	background: #959595;
	text-align: center;
	font-weight: bolder;
}
