@CHARSET "UTF-8";

table .Active_hoover:HOVER {
	background: rgb(255, 169, 238);
	cursor: pointer;
}

#fistYn {
	font-weight: bolder;
	font-size: 14p;
	color: yellow;
}

#hatbang {
	height: 660px;
	width: 460px;
	float: left;
	margin-top: 10px;
	border-right: 1px solid white;
}

#gonggi {
	height: 323px;
	width: 460px;
	float: left;
	margin-left: 30px;
	margin-top: 10px;
}

#mybooked {
	border-top: 1px solid white;
	height: 323px;
	width: 460px;
	float: left;
	margin-left: 30px;
	margin-top: 10px;
}

#me {
	margin-top: 15px;
	margin-left: 30px;
	width: 952px;
	height: 85px;
}

#more {
	float: right;
	color: white;
	font-size: 10pt;
	margin-right: 10px;
	margin-top: 10px;
}

#nno {
	width: 50px;
	text-align: center;
}

#nwdate {
	width: 120px;
	text-align: center;
}

#ntitle {
	width: 180px;
}

.ntitle {
	color: white;
}

#nwriter {
	width: 80px;
	text-align: center;
}

#hot {
	float: left;
}

#booka {
	text-align: center;
	width: 50px;
}

#bookb {
	text-align: center;
	width: 50px;
}

#bookc {
	text-align: center;
	width: 120px;
}

#bookd {
	text-align: center;
	width: 70px;
}

#booke {
	text-align: center;
	width: 80px;
}

#bookf {
	text-align: center;
	width: 80px;
}

a {
	text-decoration: none !important;
}