@CHARSET "UTF-8";

#div {
	height: 570px;
	width: 460px;
	float: left;
	margin-left: 30px;
	margin-top: 10px;
}

#me {
	margin-top: 15px;
	margin-left: 30px;
	width: 952px;
	height: 85px;
}

#more {
	float: right;
	color: white;
	font-size: 10pt;
}

#hot {
	float: left;
}

a {
	text-decoration: none !important;
}